#map_canvas { 
	width:580px;
	height:400px;
	margin-top:110px;
	margin-left:100px;
}

.ui-content {
	height:700px;
}

#home_page {
	width:768px;
}

#loader {
	left: 280px;
    position: absolute;
    top: 97px;
}

/* style for map elements */ 


.ui-page { 
	background-image:url("../resources/main_bkg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}