#map_canvas { 
	width:580px;
	height:700px;
	margin-top:130px;
}

.ui-content {
	height:900px;
}

#home_page {
	width:768px;
}


/* style for map elements */ 


.ui-page { 
	background-image:url("../resources/main_bkg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}